/* --- CSS Reset & Global Styles --- */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    font-family: "Arial", sans-serif;
    background-color: rgb(29, 29, 29);
    color: whitesmoke;
    text-align: center;
}

p,
a {
    font-size: 20px;
    color: inherit;
}

.button {
    display: inline-block;
    width: 60%;
    max-width: 400px;
    padding: 14px 0;
    background-color: red;
    color: white;
    font-size: 20px;
    font-weight: bold;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    text-decoration: none;
}


.banner {
    width: 100%;
    height: 280px;
    object-fit: cover;
    border-bottom: 20px solid red;
    margin-bottom: 40px;
}
