.container {
    display: flex;
    width: 100%;
    height: 85vh;
    margin: 0 auto;
    max-width: 1300px;
    border-radius: 10px;
    overflow: hidden;
    background-color: #111;
    border: 2px solid red;
}

.sidebar {
    width: 30%;
    background-color: #1a1a1a;
    border-right: 2px solid red;
    display: flex;
    flex-direction: column;
}

.sidebar-header {
    padding: 15px;
    background-color: red;
    text-align: center;
    color: white;
    font-weight: bold;
    font-size: 20px;
}

.ticket-list {
    overflow-y: auto;
    flex: 1;
}

.ticket {
    padding: 15px;
    cursor: pointer;
    border-bottom: 1px solid #333;
    transition: 0.2s;
    color: #ddd;
}

.ticket:hover {
    background-color: #2a2a2a;
}

.addTicket {
    margin: 10px;
    padding: 10px;
    background-color: red;
    color: white;
    font-weight: bold;
    border-radius: 20px;
    cursor: pointer;
    text-align: center;
}

.chat-area {
    width: 70%;
    display: flex;
    flex-direction: column;
    background-color: #0d0d0d;
}

.chat-header {
    padding: 15px;
    background-color: red;
    color: white;
    font-size: 20px;
    font-weight: bold;
}

#chatWindow {
    flex: 1;
    padding: 20px;
    overflow-y: auto;
}

.msg {
    text-align: left;
    margin: 10px 0;
    padding: 10px 15px;
    width: fit-content;
    width: 100%;
    word-wrap: break-word;
    color: white;
}

.inputBar {
    padding: 10px;
    display: flex;
    gap: 10px;
    background-color: #1a1a1a;
    border-top: 1px solid #333;
}

#chatInput {
    flex: 1;
    padding: 12px;
    border-radius: 25px;
    border: none;
    background-color: #333;
    color: white;
}

#sendBtn {
    background-color: red;
    border: none;
    padding: 12px 20px;
    border-radius: 25px;
    font-weight: bold;
    cursor: pointer;
    color: white;
}